*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #add8e6 ;
}

nav{
    padding: 0.5rem;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: dotted;
}

.boxed{
    max-width: 1000px;
    margin: 0 auto;
}

.alignItemsCenter{
    align-items: center;
}

.contenitore{
    background-color: blue;
    min-height: 500px ;
    display: flex;
    align-items: center;
}

.box1{
    background-color: pink;
    width: 800px;
    min-height: 400px;
    margin: 0 auto;
}

.sezione1{
    background-color: yellow;
    min-height: 500px ;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
}

.blocco{
    width: 1000px;
    height: 480px;
    background-color: white;
    margin: 0 auto;
    display: flex;
  
}

.blue{
    background-color: cornflowerblue;
    width:60%;
    min-height: 480px;
    border: dashed 1px;
}
.pink{
    background-color: pink;
    width: 40%;
    min-height: 480px;
    border: dashed 1px;
}

.sezione2{
    background-color: green;
    min-height: 500px ;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
    background-color: lightgray;
    margin: 0 auto;
}

.sezione3{
        background-color: white;
        min-height: 500px ;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 3rem;

}

.bloccoGreen{
        width: 1200px;
        height: 1000px;
        background-color: white;
        margin: 0 auto;
        display: flex;
}

.bloccoGreen{
        width: 1000px;
        height: 480px;
        background-color: white;
        margin: 0 auto;
        display: flex;
}

.green{
    background-color: green;
    width: 1000px;
    min-height: 900px;
    border: dashed 1px;
}